@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-size: $base-font-size;
  height: 100%;
}

body { height: 100%; color: #333333; font-family: 'Gilroy', sans-serif; letter-spacing: 0.05em;}

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; cursor: pointer; transition: all .3s ease;}

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { 
  outline: none; 
  font-family: 'Gilroy', sans-serif;
  border: none;
  background: transparent;
  cursor: pointer;
}

*, *:before, *:after { box-sizing: border-box; }

.wrapper {
  position: relative;
  background: #F9FAFC;
  // height: 100%;
}
.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 40px;
}
.title {
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 0.05em;
  font-weight: 900;
  margin-bottom: 40px;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  color: $white;
  padding: 12px 39px;
  background: #809EFF;
  border-radius: 23px;
  &:hover {
    box-shadow: 0px 5px 20px rgba(126, 157, 255, 0.6);
    border-radius: 23px;
  }
}
.content {
  padding-top: 200px;
  padding-left: 40px;
  padding-right: 40px;
  width: calc(100% - 300px);
  margin-left: auto;

}
label {
  color: #333333;
  font-weight: 500;
}
.channel-wrapp-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #AFD9FF, #7FBAFF);
}
input::-webkit-input-placeholder { color: #ccc; font-size: 20px; font-weight: 400; font-family: 'Gilroy', sans-serif; }
input:-ms-input-placeholder { color: #ccc; font-size: 20px; font-weight: 400; font-family: 'Gilroy', sans-serif; }
input::-ms-input-placeholder { color: #ccc; font-size: 20px; font-weight: 400; font-family: 'Gilroy', sans-serif; }
input::placeholder { color: #ccc; font-size: 20px; font-weight: 400; font-family: 'Gilroy', sans-serif; } 

.input-wrap-check input[type="checkbox"] {
  cursor: pointer;
  display: none;
} 
.input-wrap-check label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
}
.input-wrap-check {
  input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(126, 157, 255, 0.3);
    border-radius: 10px;
    margin-right: 30px;
  }
  input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 11px;
    width: 15px;
    height: 11px;
    background: url('../images/svg/check.svg') no-repeat;
  }
}
@media screen and (max-width: 1852px) {
  .container {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 30px;
  }
  .content  {
    width: 100%;
    padding-top: 318px;   
    padding-left: 30px;
    padding-right: 30px;

  }
}
@media screen and (max-width: 1200px) {
  .container {
      // max-width: 100%;
      // margin: 0 auto;
      padding: 0 20px;
  }
  .content  {
    // width: 100%;
    // padding-top: 318px;  
    padding-left: 20px;
    padding-right: 20px;
  }

}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .title {
    font-size: 2.2rem;
  }
}
@import "modules/modules";
