header.header
	.container
		.head-wrap
			.search
				input(type="search" placeholder="Введите ссылку/username")
				span.search-ico
					svg.svg-ico.svg-ico_search
						use(xlink:href="#search")
			.user
				.user__balans
					span.user__balans_desc Баланс
					span.user__balans_sum 61 544 &#8381;
				.user__cab
					.wrap-user-photo(style="background-image: url(static/images/content/user.jpg);")
						img(src="static/images/content/user.jpg", alt="Фото пользователя")
				.box-drop-down
					svg.svg-ico.svg-ico_down
						use(xlink:href="#down")
			form.user-cab
				.user-cab__head
					h2.title Вход
					span.close-ico
						svg.svg-ico.svg-ico_close
							use(xlink:href="#close")
				.user-cab__body
					.user-cab__input-wrap
						label(for="") Email
						input(type="text" placeholder="Введите Email")
					.user-cab__input-wrap
						label(for="") Пароль
						input(type="text" placeholder="Введите пароль")
				.user-cab__footer
					.wrap-btn
						a.btn.user-cab__link.user-cab__link-enter(href="") Войти
					.wrap-btn
						a.user-cab__link.user-cab__link-reg(href="") Регистрация
					ul.social
						li
							a(href="")
								svg.svg-ico.svg-ico_form-vk-logo
									use(xlink:href="#form-vk-logo")
						li
							a(href="")
								svg.svg-ico.svg-ico_form-vk-logo
									use(xlink:href="#form-vk-logo")
						li
							a(href="")
								svg.svg-ico.svg-ico_form-vk-logo
									use(xlink:href="#form-vk-logo")
