header.header
	.container
		.head-wrap
			.head-wrap__search
				input(type="search" placeholder="Введите ссылку/username")
				span.search-ico
					svg.svg-ico.svg-ico_search
						use(xlink:href="#search")
			.head-wrap__user
				.user__balans
					span.user__balans_desc Баланс
					span.user__balans_sum 61 544 &#8381;
				.user__cab
					.wrap-user-photo(style="background-image: url(static/images/content/user.jpg);")
						img(src="static/images/content/user.jpg", alt="Фото пользователя")
				.box-drop-down
					svg.svg-ico.svg-ico_down
						use(xlink:href="#down")
			.form-wrap__user-cab.user-autorize
				.user-autorize__list-wrapp
					ul
						li
							a(href="")
								svg.svg-ico
									use(xlink:href="#user_small")

								span Профиль
						li
							a(href="")
								svg.svg-ico
									use(xlink:href="#pod")
								span Поддержка
						li
							a(href="")
								svg.svg-ico
									use(xlink:href="#exit")
								span Выход
				
