.password_change
	a.navbar__logo(href="index.html") Telebot.org

	form
		.user-cab__body
			.user-cab__input-wrap
				label(for="pass_reg") Пароль
				input#pas_regs(type="text" placeholder="Введите пароль")
			.user-cab__input-wrap
				label(for="pass_two") Пароль повторно
				input#pass_two(type="text" placeholder="Введите пароль еще раз")
		.user-cab__footer
			.wrap-btn
				button(type="submit").btn.user-cab__link.user-cab__link-enter Изменить
