.navbar.navbar-menu
	a(href="index.html").logo Telebot.org
	ul.navbar-menu__list
		li.navbar-menu__item.active
			a.navbar-menu__link(href="")
				svg.svg-ico
					use(xlink:href="#home")
				span Главная
		li.navbar-menu__item
			a.navbar-menu__link(href="")
				svg.svg-ico
					use(xlink:href="#canals")
				span Каналы
		li.navbar-menu__item
			a.navbar-menu__link(href="")
				svg.svg-ico
					use(xlink:href="#posts")
				span Посты
		li.navbar-menu__item
			a.navbar-menu__link(href="")
				svg.svg-ico
					use(xlink:href="#roboto")
				span Боты
		li.navbar-menu__item
			a.navbar-menu__link(href="")
				svg.svg-ico
					use(xlink:href="#binocl")
				span Отслеживание
		li.navbar-menu__item
			a.navbar-menu__link(href="")
				svg.svg-ico
					use(xlink:href="#trophy")
				span Розыгрыши
		li.navbar-menu__item
			a.navbar-menu__link(href="")
				svg.svg-ico
					use(xlink:href="#line-chart")
				span Аудитория
		li.navbar-menu__item
			a.navbar-menu__link(href="")
				svg.svg-ico
					use(xlink:href="#alpha")
				span Telegraph
		li.navbar-menu__item
			a.navbar-menu__link(href="")
				svg.svg-ico
					use(xlink:href="#insta")
				span Spy Stories
