.box-content__item.box-content__item--buy-advertising {
	width: 100%;
}
.buy-advertising {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.buy-advertising-wrapp {
	.statistic__date {
		display: block;
		margin-bottom: 20px;
	}
}
.buy-advertising__item {
	width: 19%;
}
.buy-advertising__item--w15 {
	width: 15%;
}
.buy-advertising__item--w16 {
	width: 16%;
}
.buy-advertising__item--w22 {
	width: 22%;
}
.text-bold {
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: 0.05em;
	color: #333333;
}
.text-normal {
	font-size: 12px;
	line-height: 14px;
	color: #333333;
}
.ico-text {
	font-size: 12px;
	padding: 0 3px;
}
.statistics-title--mob {
	display: none;
}

.box-content__head--inner {
	display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 960px) { 
	.statistics-title {
		width: 100%;
		margin-bottom: 15px;
	}
	.statistics-title--mob {
		display: block;
	}
	.buy-advertising-wrapp {
		width: 100%;
	}
	.buy-advertising { 
		flex-wrap: wrap;
		&:nth-child(2n) {
			border-bottom: 1px solid #B3B3B3;
		}

	}
	.buy-advertising__item {
		width: 50%;
		margin-bottom: 30px;
	}
	.buy-advertising__item--w15 {
		width: 50%;
	}
	.buy-advertising__item--w16 {
		width: 50%;
	}
	.buy-advertising__item--w22 {
		width: 50%;
	}
}
@media screen and (max-width: 768px) { 
	.channel__item-wrapp {
	    width: 100%;
	}
	.chanel-list .chanel-list__item {
	    width: 100%;
	}
}
