.channel-item {
	background: #FFFFFF;
	box-shadow: 0px 5px 20px rgba(126, 157, 255, 0.2);
	border-radius: 28px;
}
.channel-item__head {
	padding: 30px 30px 20px 30px;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		left: 30px;
		// left: calc(100% - 60px);
		bottom: 0;
		// width: 100%;
		width: calc(100% - 60px);
		height: 1px;
		background: rgba(0, 0, 0, 0.05);
		border-radius: 1px;
	}
}
.channel-item__body {
	padding: 20px 30px 20px 30px;
}
.svg-ico-small_line-chart-wrapp {
	padding-right: 4px;	
}
.channel-item__date {
	font-size: 16px;
	line-height: 18px;
	color: #B3B3B3;
}
