.box-content__item.box-content__item--indicator {
 	width: 100%;
}



.channel-indicator__tabs-wrapp {
	.tracking__add-choice .tabs__caption {
	    display: block;
	    background: transparent;
	    border-radius: 0;
	    margin-bottom: 20px;
	}
	.tracking__add-choice .tabs__caption li {
		position: relative;
	    color: #333333;
	    background: transparent;
	    border-radius: 0;
	    padding-bottom: 20px;
	    padding-left: 0;
	    padding-right: 0;
	    display: inline-block;
	    margin-right: 20px;
	    font-size: 16px;
	    font-weight: 500;	
		line-height: 19px;
	    &:last-child {
	    	margin-right: 0;
	    }
	}
	.tracking__add-choice .tabs__caption li.active {
	    color: #B3B3B3;
	    background: transparent;
	    border-radius: 0;
	    &:before {
	    	content: "";
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    width: 100%;
		    height: 2px;
		    background: #809EFF;
		    border-radius: 1.5px;
	    }
	}
}

.statistic--indicator {
	display: flex;
	justify-content: flex-start;
}
