.box-content__item--statistics {
    width: 58%;
}

.statistics-title {
    display: block;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #B3B3B3;
}
.statistic {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    @media screen and (max-width: 725px) {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
}
.statistic__item {
    @media screen and (max-width: 725px) {
        display: flex;
    }
    @media screen and (max-width: 449px) {
        flex-wrap: wrap;
    }
    .statistics-title {
        display: none;
        @media screen and (max-width: 725px) {
            display: block;
            width: 50%;
            +p {
                width: 50%;
            }
        }
        @media screen and (max-width: 449px) {
            width: 100%;
            margin-bottom: 7px;
            +p {
                width: 100%;
            }
        }
    }
    span {
        @media screen and (max-width: 725px) {
            padding-right: 5px;
        }
    }
}
.statistic-header {
    .statistic__item .statistics-title {
        display: block;
    }
    @media screen and (max-width: 725px) {
        display: none;
    }
}
.statistic__item-wrapp {
    @media screen and (max-width: 725px) {
        width: 50%;
    }
}
.statistic__item_w50 {
    width: 50%;
}
.statistic__item_w25 {
    width: 25%;
}
.purple-text {
    font-size: 20px;
    font-weight: 500;
    color: #809EFF;
}
.statistic__date {
    font-size: 20px;
    font-weight: 300;
    color: #333333;
    &--grey {
        color: #B3B3B3;
    }
}
.statistic-content {
    font-size: 12px;
    color: #333333;
    margin: 0 5px; 
}

.statistic__item p {
    color: #B3B3B3;
    font-weight: 500;
    .svg-ico {
        width: 15px;
        height: 15px;
    }
    .svg-ico-user-canal-logo, .svg-ico-user-canal-logo {
        width: 15px;
        height: 15px;
    }
}
.red-text {
    font-size: 20px;
    font-weight: 500;
    color: #FF6161;

}
.green-text {
    font-size: 20px;
    font-weight: 500;
    color: #55FF70;

}
@media screen and (max-width: 1024px) {
    .box-content__item--statistics {
        width: 100%;
    }
}
