.box-content__item--statistics {
    width: 58%;
}

.statistics-title {
    display: block;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #B3B3B3;
}
.statistic {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.statistic__item_w50 {
    width: 50%;
}
.statistic__item_w25 {
    width: 25%;
}
.purple-text {
    font-size: 20px;
    font-weight: 500;
    color: #809EFF;
}
.statistic__date {
    font-size: 20px;
    font-weight: 300;
    color: #333333;
}
.statistic-content {
    font-size: 12px;
    color: #333333;
    margin: 0 5px; 
}

.statistic__item p {
    color: #B3B3B3;
    font-weight: 500;
    .svg-ico {
        width: 15px;
        height: 15px;
    }
    .svg-ico-user-canal-logo, .svg-ico-user-canal-logo {
        width: 15px;
        height: 15px;
    }
}
.red-text {
    font-size: 20px;
    font-weight: 500;
    color: #FF6161;

}
.green-text {
    font-size: 20px;
    font-weight: 500;
    color: #55FF70;

}
@media screen and (max-width: 1024px) {
    .box-content__item--statistics {
        width: 100%;
    }
}
