.bots {
    .search-filter__button-wrap {
        flex-grow: 2;
    }
    .flex.flex--triple {
        .input-item{
            margin-right: 40px;
        }
        
    }
    .flex.search-result__head {
        justify-content: flex-start;
        .sort__item {
            min-width: 31%;
        }
    }
    .search-item__group--name {
        min-width: 27%;
    }
    .search-item__text {
        padding-left: 60px;
        padding-top: 0;
        @media screen and (max-width: 928px) {
            padding-left: 0;
        }
    }
    .search-item__label {
        white-space: nowrap;
    }
    .box-content__body .flex {
        flex-wrap: wrap;
    }
    .flex {
        @media screen and (max-width: 928px) {
            flex-wrap: wrap;
        }
    }
    .title-item {
        font-weight: 600;
    }
    .search-item__icons {
        color: #B3B3B3;
        font-weight: 500;
    }
}