.tracking {
    &__box {
        margin-bottom: 40px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        .favorite-title {
            width: 17%;
            font-weight: 500;
            &:nth-child(1) {
                flex-grow: 1;
            }
            &.tracking__group-min {
                width: 10%;
                min-width: 80px;
            }
        }
        @media screen and (max-width: 1230px) {
            display: none;
        }
    }
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        @media screen and (max-width: 1230px) {
            flex-wrap: wrap;
            margin-bottom: 50px;
        }
        .statistic__date {
            font-weight: 500;
        }
    }
    &__group {
        width: 17%;
        @media screen and (max-width: 1230px) {
            padding: 2%;
            flex-wrap: wrap;
            width: auto;
            width: 160px;
            flex-grow: 1;
        }
        .favorite-title {
            display: none;
            @media screen and (max-width: 1230px) {
                display: block;
            }
        }
        &:nth-child(1) {
            flex-grow: 1;
        }
        &.tracking__group-min {
            width: 10%;
            min-width: 80px;
            @media screen and (max-width: 1230px) {
                width: auto;
            }
        }
        .statistic__date .search-item__amount {
            padding-left: 10px;
        }
        &-thin .search-item__amount {
            padding-right: 20px;
            font-weight: 300;
            word-wrap: break-word;
        }
    }
    &__icons {
        display: flex;
        .input-item__icon {
            display: flex;
            margin-right: 10px;
            width: 36px;
            height: 36px;
            background: #FFFFFF;
            box-shadow: 0px 2px 6px rgba(126, 157, 255, 0.3);
            border-radius: 10px;
            &--red {
                box-shadow: 0px 2px 6px rgba(255, 97, 97, 0.3);
                svg {
                    fill: #FF6161;
                }
            }
        }
    }
    &__add {
        background: rgba(255, 255, 255, 0.9);
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        top: 0;
        right: 0;
        justify-content: center;
        z-index: 1;
        &--wrap {
            margin: auto;
            width: 500px;
            padding: 20px;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
            backdrop-filter: blur(15px);
            border-radius: 20px;
            @media screen and (max-width: 573px) {
                width: 100%;
            }
        }
        .price-info__title {
            color: #333333;
        }
        &-choice {
            color: #333333;
            font-size: 16px;
            line-height: 19px;
            .tabs__caption {
                display: flex;
                background: rgba(0, 0, 0, 0.05);
                border-radius: 22px;
                margin-bottom: 20px;
                @media screen and (max-width: 414px) {
                    flex-wrap: wrap;
                }
                li {
                    padding: 12px 20px;
                    cursor: pointer;
                    flex-grow: 1;
                    &.active {
                        color: #fff;
                        background: #A3B8FF;
                        border-radius: 22px;
                    }
                }
            }
            input {
                width: 100%;
                border: 1px solid rgba(0, 0, 0, 0.05);
                box-sizing: border-box;
                border-radius: 22px;
                padding: 13px 20px;
            }
        }
    }
    .button {
        display: block;
        color: #fff;
        margin-top: 30px;
    }   
    .box-content__head {
        padding-right: 87px;
    }                
}
.button-add {
    &.active .tracking__add {
        display: flex;
        cursor: auto;
        z-index: 2;
        font-weight: normal;
    }
}
.tabs {
    &__content  {
        display: none;
        &.active {
            display: block;
        }
    }
}


.tab-link--indicator.active {
    &:before {
        display: none;
    }
}
.modal-open {
    // height: 100vh;
    overflow: hidden;
}