.canal {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin-bottom: 20px;
}

.canal__item_wrapp {
	.canal__item.canal__item_inner {
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		color: #55FF70;
		margin: 0 15px 0 11.5px;
	}
}
.canal__item {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 19px;
	color: #333;
	span {
		display: inline-block;
	}
}
.canal__item_logo {
	margin-right: 20px;
	span {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    background: linear-gradient(to top, #AFD9FF, #7FBAFF);
	}
}
.canal__item_logo {
	svg {
		width: 14px;
		height: 12px;
		fill: $white;
	}
}
.canal__item_name {
	p {
		color: #333333;
	
		span {
			color: #B3B3B3;
			font-weight: normal;
		}
	}
	.svg-ico-user-canal-logo {
		width: 10px;
		fill: #ccc;
	}
}
.svg-ico-podpischic {
	fill: #55FF70;
	width: 16px;
	height: 20px;
}
.svg-ico-small_line-chart {
	width: 26px;
	height: 26px;
	fill: #B3B3B3;
}
.canal__item_name .svg-wrap {
	margin-right: 5px;
}
.canal-num {
	font-size: 12px;
	line-height: 14px;
	color: #B3B3B3;
}
.svg-wrap {
	margin-right: 5px;
}
.canal:hover {
	.text-shadow {
		text-shadow: 2px 3px 2px rgba(51,51,51,0.4);
	}
	.svg-wrap-shadow {
		box-shadow: 2px 3px 2px rgba(51,51,51,0.4);
	}
}

.canal:hover {
	.svg-ico-user-canal-logo, .svg-ico-small_line-chart, .svg-ico-podpischic {
		-webkit-filter: drop-shadow(2px 3px 2px rgba(51,51,51,0.4));
		filter: drop-shadow(2px 3px 2px rgba(51,51,51,0.4));
	}

}
.wrap-inner-tabs .tab_content {
	height: 350px;		
	overflow-y: scroll;
}
.tab_content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.tab_content::-webkit-scrollbar
{
	width: 0;
	background-color: #F5F5F5;
}

.tab_content::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
.canal_hide {
	display: none;
}
.more {
	text-align: center;
	display: block !important;
	margin-top: 40px;
}
.more__link {
	font-size: 20px;
	line-height: 24px;
	color: #809EFF;
}



