.box-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  flex-wrap: nowrap;
}
.box-content__item {
  // width: 710px; 
  width: 49%; 
}
.box-content__head {
  padding: 30px 40px 30px 40px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.02);
  border-radius: 34px 34px 0px 0px;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.8);
}

.box-content__body {
  padding: 30px 40px;
  background: #FFFFFF;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.02);
  border-radius: 0px 0px 34px 34px;
}

.content-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

ul.tabs li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 20px;
  margin-right: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #B3B3B3;
  &:last-child {
    margin-right: 0;
  }
}
ul.tabs li.current {
  
  color: #333;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #809EFF;
    border-radius: 1.5px;
  }
}
.tab_container {
  margin-top: 20px;
}
.tab_content {
  display: none;

}

.tab_content.current {
  display: inherit;
}
.tab_content.current .canal_hide {
  display: none !important;
}
.tab_content.current .canal_show {
  display: block !important;
}
.wrap-inner-tabs {

  ul.tabs li {
    font-size: 12px;
    margin-right: 20px;
    line-height: 15px;
    // padding-top: 20px;
    padding-bottom: 20px;
  }

}
.wrap-inner-tabs {
  ul.tabs li.current {

    &:before { display: none; }
  }
}
@media screen and (max-width: 1852px) {
    ul.tabs li {
    margin-right: 10px;
    font-size: 18px;
  }
  .box-content__body {
    padding: 30px 20px;
  }
  .box-content__head {
    padding-left: 20px;
    padding-right: 20px;
  }

}
@media screen and (max-width: 1200px) {
  ul.tabs li {
      font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .box-content {
    flex-wrap: wrap;
  } 
  .box-content__item {
    width: 100%;
    margin: 20px;
  }
}
@media screen and (max-width: 768px) {

  ul.tabs li {
    font-size: 14px;
    margin-right: 5px;
  }
}
