.box-content__item.publications
	h2.box-content__head Каналы
	.box-content__body
		ul.content-title.tabs
			li.tab-link.current(data-tab="tab-11") Новые каналы
			li.tab-link(data-tab="tab-22") Рекламные записи
			li.tab-link(data-tab="tab-33") По часам, %
		.tab_container.tab_container_publications
			#tab-pub-1.tab_content.current
				.publications-wrapp
					ul#publications-chart.publications-chart
						li.publications-chart__item
							span.publications-chart__date 1
						li.publications-chart__item
							span.publications-chart__date 2
						li.publications-chart__item
							span.publications-chart__date 3
						li.publications-chart__item
							span.publications-chart__date 4
						li.publications-chart__item
							span.publications-chart__date 5
						li.publications-chart__item
							span.publications-chart__date 6
						li.publications-chart__item
							span.publications-chart__date 7
						li.publications-chart__item
							span.publications-chart__date 8
						li.publications-chart__item
							span.publications-chart__date 9
						li.publications-chart__item
							span.publications-chart__date 10
						li.publications-chart__item
							span.publications-chart__date 11
						li.publications-chart__item
							span.publications-chart__date 12
						li.publications-chart__item
							span.publications-chart__date 13
						li.publications-chart__item
							span.publications-chart__date 14
						li.publications-chart__item
							span.publications-chart__date 15
						li.publications-chart__item
							span.publications-chart__date 16
						li.publications-chart__item
							span.publications-chart__date 17
						li.publications-chart__item
							span.publications-chart__date 18
						li.publications-chart__item
							span.publications-chart__date 19
						li.publications-chart__item
							span.publications-chart__date 20
						li.publications-chart__item
							span.publications-chart__date 21
						li.publications-chart__item
							span.publications-chart__date 22
						li.publications-chart__item
							span.publications-chart__date 23
						li.publications-chart__item
							span.publications-chart__date 24
						li.publications-chart__item
							span.publications-chart__date 25
						li.publications-chart__item
							span.publications-chart__date 26
						li.publications-chart__item
							span.publications-chart__date 27
						li.publications-chart__item
							span.publications-chart__date 28
						li.publications-chart__item
							span.publications-chart__date 29
						li.publications-chart__item
							span.publications-chart__date 30
						li.publications-chart__item
							span.publications-chart__date 31
				.publications-footer
					span.publications-footer__item.publications-footer__item_title Каналов в базе
					span.publications-footer__item.publications-footer__item_number 356 838
				.publications-footer
					span.publications-footer__item.publications-footer__item_today Добавлено за сегодня
					span.publications-footer__item.publications-footer__item_number_green +56 838
			#tab-pub-2.tab_content
				.publications-wrapp
					ul#publications-chart.publications-chart
						li.publications-chart__item
							span.publications-chart__date 1
						li.publications-chart__item
							span.publications-chart__date 2
						li.publications-chart__item
							span.publications-chart__date 3
						li.publications-chart__item
							span.publications-chart__date 4
						li.publications-chart__item
							span.publications-chart__date 5
						li.publications-chart__item
							span.publications-chart__date 6
						li.publications-chart__item
							span.publications-chart__date 7
						li.publications-chart__item
							span.publications-chart__date 8
						li.publications-chart__item
							span.publications-chart__date 9
						li.publications-chart__item
							span.publications-chart__date 10
						li.publications-chart__item
							span.publications-chart__date 11
						li.publications-chart__item
							span.publications-chart__date 12
						li.publications-chart__item
							span.publications-chart__date 13
						li.publications-chart__item
							span.publications-chart__date 14
						li.publications-chart__item
							span.publications-chart__date 15
						li.publications-chart__item
							span.publications-chart__date 16
						li.publications-chart__item
							span.publications-chart__date 17
						li.publications-chart__item
							span.publications-chart__date 18
						li.publications-chart__item
							span.publications-chart__date 19
						li.publications-chart__item
							span.publications-chart__date 20
						li.publications-chart__item
							span.publications-chart__date 21
						li.publications-chart__item
							span.publications-chart__date 22
						li.publications-chart__item
							span.publications-chart__date 23
						li.publications-chart__item
							span.publications-chart__date 24
						li.publications-chart__item
							span.publications-chart__date 25
						li.publications-chart__item
							span.publications-chart__date 26
						li.publications-chart__item
							span.publications-chart__date 27
						li.publications-chart__item
							span.publications-chart__date 28
						li.publications-chart__item
							span.publications-chart__date 29
						li.publications-chart__item
							span.publications-chart__date 30
						li.publications-chart__item
							span.publications-chart__date 31
				.publications-footer
					span.publications-footer__item.publications-footer__item_title Каналов в базе
					span.publications-footer__item.publications-footer__item_number 356 838
				.publications-footer
					span.publications-footer__item.publications-footer__item_today Добавлено за сегодня
					span.publications-footer__item.publications-footer__item_number_green +56 838			
			#tab-pub-3.tab_content
				.publications-wrapp
					ul#publications-chart.publications-chart
						li.publications-chart__item
							span.publications-chart__date 1
						li.publications-chart__item
							span.publications-chart__date 2
						li.publications-chart__item
							span.publications-chart__date 3
						li.publications-chart__item
							span.publications-chart__date 4
						li.publications-chart__item
							span.publications-chart__date 5
						li.publications-chart__item
							span.publications-chart__date 6
						li.publications-chart__item
							span.publications-chart__date 7
						li.publications-chart__item
							span.publications-chart__date 8
						li.publications-chart__item
							span.publications-chart__date 9
						li.publications-chart__item
							span.publications-chart__date 10
						li.publications-chart__item
							span.publications-chart__date 11
						li.publications-chart__item
							span.publications-chart__date 12
						li.publications-chart__item
							span.publications-chart__date 13
						li.publications-chart__item
							span.publications-chart__date 14
						li.publications-chart__item
							span.publications-chart__date 15
						li.publications-chart__item
							span.publications-chart__date 16
						li.publications-chart__item
							span.publications-chart__date 17
						li.publications-chart__item
							span.publications-chart__date 18
						li.publications-chart__item
							span.publications-chart__date 19
						li.publications-chart__item
							span.publications-chart__date 20
						li.publications-chart__item
							span.publications-chart__date 21
						li.publications-chart__item
							span.publications-chart__date 22
						li.publications-chart__item
							span.publications-chart__date 23
						li.publications-chart__item
							span.publications-chart__date 24
						li.publications-chart__item
							span.publications-chart__date 25
						li.publications-chart__item
							span.publications-chart__date 26
						li.publications-chart__item
							span.publications-chart__date 27
						li.publications-chart__item
							span.publications-chart__date 28
						li.publications-chart__item
							span.publications-chart__date 29
						li.publications-chart__item
							span.publications-chart__date 30
						li.publications-chart__item
							span.publications-chart__date 31
				.publications-footer
					span.publications-footer__item.publications-footer__item_title Каналов в базе
					span.publications-footer__item.publications-footer__item_number 356 838
				.publications-footer
					span.publications-footer__item.publications-footer__item_today Добавлено за сегодня
					span.publications-footer__item.publications-footer__item_number_green +56 838	

