.box-content__item.publications
	h2.box-content__head Каналы
	.box-content__body
		ul.content-title.tabs
			li.tab-link.current(data-tab="tab-11") Новые каналы
			li.tab-link(data-tab="tab-22") Рекламные записи
			li.tab-link(data-tab="tab-33") По часам, %
