.favorites
	h2.favorites__title Избранные каналы

	.favorites__content
		.canal
			.canal__item_wrapp
				h3.favorite-title Канал
				.canal__item.canal__item_logo
					span
						svg.svg-ico
							use(xlink:href="#photo-logo")
				.canal__item.canal__item_name
					p.text-shadow Название канала
			.canal__item_wrapp
				h3.favorite-title подписчики
				.canal__item
					span 
			.canal__item_wrapp
				h3.favorite-title Канал
				.canal__item
					svg.svg-ico.svg-ico-podpischic
						use(xlink:href="#podpischic")
				.canal__item.canal__item_inner
					span 43 545
				.canal__item
					span
						svg.svg-ico.svg-ico-small_line-chart
							use(xlink:href="#small_line-chart")
	
