.buy-advertisings
	.box-content__head.box-content__head--inner
		h2 Купили рекламу у канала
		span.input-wrap-check
			input#buy(type="checkbox")
			label(for="buy") Показывать репосты
	.box-content__body
		.buy-advertising
			.buy-advertising__item.buy-advertising__item--w16
				span.statistics-title Размещенный пост
				.buy-advertising-wrapp
					span.statistic__date 06.08.2019 13:55:22
			.buy-advertising__item
				span.statistics-title Рекламируемый канал
				.buy-advertising-wrapp.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
			.buy-advertising__item.buy-advertising__item--w16
				span.statistics-title Приход
				.buy-advertising-wrapp
					span.green-text +2
					p
						span.text-normal 60 459
						span.purple-text.ico-text &rarr;
						span.text-normal 60 461
			.buy-advertising__item.buy-advertising__item--w22
				span.statistics-title Период подсчета
				.buy-advertising-wrapp
					p.purple-text 0 часов 4 минут
					p
						span.text-normal 06.08.2019 13:55:22
						span.purple-text.ico-text &rarr;
						span.text-normal 06.08.2019 13:55:22
			.buy-advertising__item.buy-advertising__item--w15
				span.statistics-title Постов продвигается
				.buy-advertising-wrapp
					span.text-bold 234

		.buy-advertising
			.buy-advertising__item.buy-advertising__item--w16
				.buy-advertising-wrapp
					span.statistic__date Подборка
			.buy-advertising__item
				.buy-advertising-wrapp.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
			.buy-advertising__item.buy-advertising__item--w16
				.buy-advertising-wrapp
					span.purple-text ?
			.buy-advertising__item.buy-advertising__item--w22
				.buy-advertising-wrapp
					span.purple-text ?
			.buy-advertising__item.buy-advertising__item--w15
				.buy-advertising-wrapp
					span.text-bold 234


		.buy-advertising
			.buy-advertising__item.buy-advertising__item--w16
				span.statistics-title.statistics-title--mob Размещенный пост
				.buy-advertising-wrapp
					span.statistic__date 06.08.2019 13:55:22
			.buy-advertising__item
				span.statistics-title.statistics-title--mob Рекламируемый канал
				.buy-advertising-wrapp.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
			.buy-advertising__item.buy-advertising__item--w16
				span.statistics-title.statistics-title--mob Приход
				.buy-advertising-wrapp
					span.green-text +2
					p
						span.text-normal 60 459
						span.purple-text.ico-text &rarr;
						span.text-normal 60 461
			.buy-advertising__item.buy-advertising__item--w22
				span.statistics-title.statistics-title--mob Период подсчета
				.buy-advertising-wrapp
					p.purple-text 0 часов 4 минут
					p
						span.text-normal 06.08.2019 13:55:22
						span.purple-text.ico-text &rarr;
						span.text-normal 06.08.2019 13:55:22
			.buy-advertising__item.buy-advertising__item--w15
				span.statistics-title.statistics-title--mob Постов продвигается
				.buy-advertising-wrapp
					span.text-bold 234

		.buy-advertising
			.buy-advertising__item.buy-advertising__item--w16
				.buy-advertising-wrapp
					span.statistic__date Подборка
			.buy-advertising__item
				.buy-advertising-wrapp.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
			.buy-advertising__item.buy-advertising__item--w16
				.buy-advertising-wrapp
					span.purple-text ?
			.buy-advertising__item.buy-advertising__item--w22
				.buy-advertising-wrapp
					span.purple-text ?
			.buy-advertising__item.buy-advertising__item--w15
				.buy-advertising-wrapp
					span.text-bold 234


		.buy-advertising
			.buy-advertising__item.buy-advertising__item--w16
				span.statistics-title.statistics-title--mob Размещенный пост
				.buy-advertising-wrapp
					span.statistic__date 06.08.2019 13:55:22
			.buy-advertising__item
				span.statistics-title.statistics-title--mob Рекламируемый канал
				.buy-advertising-wrapp.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
			.buy-advertising__item.buy-advertising__item--w16
				span.statistics-title.statistics-title--mob Приход
				.buy-advertising-wrapp
					span.green-text +2
					p
						span.text-normal 60 459
						span.purple-text.ico-text &rarr;
						span.text-normal 60 461
			.buy-advertising__item.buy-advertising__item--w22
				span.statistics-title.statistics-title--mob Период подсчета
				.buy-advertising-wrapp
					p.purple-text 0 часов 4 минут
					p
						span.text-normal 06.08.2019 13:55:22
						span.purple-text.ico-text &rarr;
						span.text-normal 06.08.2019 13:55:22
			.buy-advertising__item.buy-advertising__item--w15
				span.statistics-title.statistics-title--mob Постов продвигается
				.buy-advertising-wrapp
					span.text-bold 234

		.buy-advertising
			.buy-advertising__item.buy-advertising__item--w16
				.buy-advertising-wrapp
					span.statistic__date Подборка
			.buy-advertising__item
				.buy-advertising-wrapp.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
			.buy-advertising__item.buy-advertising__item--w16
				.buy-advertising-wrapp
					span.purple-text ?
			.buy-advertising__item.buy-advertising__item--w22
				.buy-advertising-wrapp
					span.purple-text ?
			.buy-advertising__item.buy-advertising__item--w15
				.buy-advertising-wrapp
					span.text-bold 234

		.buy-advertising
			.buy-advertising__item.buy-advertising__item--w16
				span.statistics-title.statistics-title--mob Размещенный пост
				.buy-advertising-wrapp
					span.statistic__date 06.08.2019 13:55:22
			.buy-advertising__item
				span.statistics-title.statistics-title--mob Рекламируемый канал
				.buy-advertising-wrapp.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
			.buy-advertising__item.buy-advertising__item--w16
				span.statistics-title.statistics-title--mob Приход
				.buy-advertising-wrapp
					span.green-text +2
					p
						span.text-normal 60 459
						span.purple-text.ico-text &rarr;
						span.text-normal 60 461
			.buy-advertising__item.buy-advertising__item--w22
				span.statistics-title.statistics-title--mob Период подсчета
				.buy-advertising-wrapp
					p.purple-text 0 часов 4 минут
					p
						span.text-normal 06.08.2019 13:55:22
						span.purple-text.ico-text &rarr;
						span.text-normal 06.08.2019 13:55:22
			.buy-advertising__item.buy-advertising__item--w15
				span.statistics-title.statistics-title--mob Постов продвигается
				.buy-advertising-wrapp
					span.text-bold 234

		.buy-advertising
			.buy-advertising__item.buy-advertising__item--w16
				.buy-advertising-wrapp
					span.statistic__date Подборка
			.buy-advertising__item
				.buy-advertising-wrapp.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
			.buy-advertising__item.buy-advertising__item--w16
				.buy-advertising-wrapp
					span.purple-text ?
			.buy-advertising__item.buy-advertising__item--w22
				.buy-advertising-wrapp
					span.purple-text ?
			.buy-advertising__item.buy-advertising__item--w15
				.buy-advertising-wrapp
					span.text-bold 234

		.buy-advertising
			.buy-advertising__item.buy-advertising__item--w16
				span.statistics-title.statistics-title--mob Размещенный пост
				.buy-advertising-wrapp
					span.statistic__date 06.08.2019 13:55:22
			.buy-advertising__item
				span.statistics-title.statistics-title--mob Рекламируемый канал
				.buy-advertising-wrapp.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
			.buy-advertising__item.buy-advertising__item--w16
				span.statistics-title.statistics-title--mob Приход
				.buy-advertising-wrapp
					span.green-text +2
					p
						span.text-normal 60 459
						span.purple-text.ico-text &rarr;
						span.text-normal 60 461
			.buy-advertising__item.buy-advertising__item--w22
				span.statistics-title.statistics-title--mob Период подсчета
				.buy-advertising-wrapp
					p.purple-text 0 часов 4 минут
					p
						span.text-normal 06.08.2019 13:55:22
						span.purple-text.ico-text &rarr;
						span.text-normal 06.08.2019 13:55:22
			.buy-advertising__item.buy-advertising__item--w15
				span.statistics-title.statistics-title--mob Постов продвигается
				.buy-advertising-wrapp
					span.text-bold 234

		.buy-advertising
			.buy-advertising__item.buy-advertising__item--w16
				.buy-advertising-wrapp
					span.statistic__date Подборка
			.buy-advertising__item
				.buy-advertising-wrapp.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
			.buy-advertising__item.buy-advertising__item--w16
				.buy-advertising-wrapp
					span.purple-text ?
			.buy-advertising__item.buy-advertising__item--w22
				.buy-advertising-wrapp
					span.purple-text ?
			.buy-advertising__item.buy-advertising__item--w15
				.buy-advertising-wrapp
					span.text-bold 234

		.buy-advertising
			.buy-advertising__item.buy-advertising__item--w16
				span.statistics-title.statistics-title--mob Размещенный пост
				.buy-advertising-wrapp
					span.statistic__date 06.08.2019 13:55:22
			.buy-advertising__item
				span.statistics-title.statistics-title--mob Рекламируемый канал
				.buy-advertising-wrapp.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
			.buy-advertising__item.buy-advertising__item--w16
				span.statistics-title.statistics-title--mob Приход
				.buy-advertising-wrapp
					span.green-text +2
					p
						span.text-normal 60 459
						span.purple-text.ico-text &rarr;
						span.text-normal 60 461
			.buy-advertising__item.buy-advertising__item--w22
				span.statistics-title.statistics-title--mob Период подсчета
				.buy-advertising-wrapp
					p.purple-text 0 часов 4 минут
					p
						span.text-normal 06.08.2019 13:55:22
						span.purple-text.ico-text &rarr;
						span.text-normal 06.08.2019 13:55:22
			.buy-advertising__item.buy-advertising__item--w15
				span.statistics-title.statistics-title--mob Постов продвигается
				.buy-advertising-wrapp
					span.text-bold 234

		.buy-advertising
			.buy-advertising__item.buy-advertising__item--w16
				.buy-advertising-wrapp
					span.statistic__date Подборка
			.buy-advertising__item
				.buy-advertising-wrapp.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
			.buy-advertising__item.buy-advertising__item--w16
				.buy-advertising-wrapp
					span.purple-text ?
			.buy-advertising__item.buy-advertising__item--w22
				.buy-advertising-wrapp
					span.purple-text ?
			.buy-advertising__item.buy-advertising__item--w15
				.buy-advertising-wrapp
					span.text-bold 234
