.channel-item
	.channel-item__head
		p Реклама канала 
			span Название канала
			span.svg-ico-small_line-chart-wrapp
				svg.svg-ico.svg-ico-small_line-chart
					use(xlink:href="#small_line-chart")
			span в посте
		p.channel-item__date 06.08.2019 13:55:22
	.channel-item__body
		.channel-box-wrap
			.statistic__item
				span.statistics-title Время
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item
				span.statistics-title ПДП
			.statistic__item
				span.statistics-title Прирост
