.channel-indicator
	.box-content
		.box-content__item.box-content__item--indicator
			.box-content__head.box-content__head--inner 
				h2 Показатели
				.tabs.tracking__add-choice
					ul.tabs__caption
						li.active Таблица
						li График


