.box-content.channel-dynamics
	.box-content__item.box-content__item--dynamics
		.box-content__head
			h2 Динамика просмотров постов
		.box-content__body
			.statistic.statistic--dynamics.statistic-header
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob время
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob просмотры
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob динамика
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob репостов
				.statistic__item.statistic__item-w40
					span.statistics-title.statistics-title--mob пост
			.statistic.statistic--dynamics
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob время
					.statistic__item-wrapp
						span 06.08.2019
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob просмотры
					.statistic__item-wrapp
						span 609 953
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob динамика
					.statistic__item-wrapp
						span
							svg.svg-ico.svg-icowh-100
								use(xlink:href="#line_grafic")
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob репостов
					.statistic__item-wrapp
						span 13
				.statistic__item.statistic__item-w40
					span.statistics-title.statistics-title--mob пост
					.statistic__item-wrapp.statistic__item-wrapp--inner
						a.statistic__item__link.fancybox(data-fancybox="gallery", href="https://www.youtube.com/embed/fEErySYqItI")
							.statistic__item-pic-wrapp
								img(src="../static/images/content/pic3.png", alt="pic")
								span.svg-ico-wrapp
									svg.svg-ico
										use(xlink:href="#play")
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.statistic.statistic--dynamics
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob время
					.statistic__item-wrapp
						span 06.08.2019
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob просмотры
					.statistic__item-wrapp
						span 609 953
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob динамика
					.statistic__item-wrapp
						span
							svg.svg-ico.svg-icowh-100
								use(xlink:href="#line_grafic")
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob репостов
					.statistic__item-wrapp
						span 13
				.statistic__item.statistic__item-w40
					span.statistics-title.statistics-title--mob пост
					.statistic__item-wrapp.statistic__item-wrapp--inner
						a.statistic__item__link.fancybox(data-fancybox="gallery", href="https://www.youtube.com/embed/fEErySYqItI")
							.statistic__item-pic-wrapp
								img(src="../static/images/content/pic3.png", alt="pic")
								span.svg-ico-wrapp
									svg.svg-ico
										use(xlink:href="#play")
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.statistic.statistic--dynamics
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob время
					.statistic__item-wrapp
						span 06.08.2019
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob просмотры
					.statistic__item-wrapp
						span 609 953
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob динамика
					.statistic__item-wrapp
						span
							svg.svg-ico.svg-icowh-100
								use(xlink:href="#line_grafic")
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob репостов
					.statistic__item-wrapp
						span 13
				.statistic__item.statistic__item-w40
					span.statistics-title.statistics-title--mob пост
					.statistic__item-wrapp.statistic__item-wrapp--inner
						a.statistic__item__link.fancybox(data-fancybox="gallery", href="https://www.youtube.com/embed/fEErySYqItI")
							.statistic__item-pic-wrapp
								img(src="../static/images/content/pic3.png", alt="pic")
								span.svg-ico-wrapp
									svg.svg-ico
										use(xlink:href="#play")
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.statistic.statistic--dynamics
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob время
					.statistic__item-wrapp
						span 06.08.2019
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob просмотры
					.statistic__item-wrapp
						span 609 953
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob динамика
					.statistic__item-wrapp
						span
							svg.svg-ico.svg-icowh-100
								use(xlink:href="#line_grafic")
				.statistic__item.statistic__item--mob-w49
					span.statistics-title.statistics-title--mob репостов
					.statistic__item-wrapp
						span 13
				.statistic__item.statistic__item-w40
					span.statistics-title.statistics-title--mob пост
					.statistic__item-wrapp.statistic__item-wrapp--inner
						a.statistic__item__link.fancybox(data-fancybox="gallery", href="https://www.youtube.com/embed/fEErySYqItI")
							.statistic__item-pic-wrapp
								img(src="../static/images/content/pic3.png", alt="pic")
								span.svg-ico-wrapp
									svg.svg-ico
										use(xlink:href="#play")
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
