.channel
	.channel__item-wrapp
		.channel__item.channel__item--name
			.channel__head
				svg.svg-ico.svg-ico--down
					use(xlink:href="#down")
				span.channel-logo
					svg.svg-ico
						use(xlink:href="#photo-logo")
				span.channel-name Название канала
					svg.svg-ico.svg-ico--heart
						use(xlink:href="#heart")
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
	.channel__item-wrapp
		.channel__item
			.channel__item-box
				span.channel-lid Подписчиков
				span.channel-sum 609 952
			.channel__item-box
				span.channel-text За сегодня
				span.channel-text.channel-text--purple +234
			.channel__item-box
				span.channel-text За неделю
				span.channel-text.channel-text--purple 234
		.channel__item
			.channel__item-box
				span.channel-lid Просмотров на пост
				span.channel-sum 609 952
			.channel__item-box
				span.channel-text За последние 24 часа	
				span.channel-text.channel-text--purple +234
	.channel__item-wrapp
		.channel__item
			.channel__item-box
				span.channel-lid ER
				span.channel-sum 34%
		.channel__item
			.channel__item-box
				span.channel-lid Упоминаний канала
				span.channel-sum 12 865
		.channel__item
			.channel__item-box
				span.channel-lid Тизеров в Stories
				span.channel-sum 3
ul.chanel-list
	li.chanel-list__item
		a.chanel-list__link(href="") Рекламные посты
			svg.svg-ico.svg-ico--rub
				use(xlink:href="#rub")
	li.chanel-list__item
		a.chanel-list__link(href="") Упоминания канала
			svg.svg-ico.svg-ico--dog
				use(xlink:href="#dog")
	li.chanel-list__item
		a.chanel-list__link(href="") Все посты канала
			svg.svg-ico.svg-ico--pen
				use(xlink:href="#pen")
	li.chanel-list__item
		a.chanel-list__link(href="") Рекламные тизеры в Stories
			svg.svg-ico.svg-ico--white_insta
				use(xlink:href="#white_insta")
.box-content
	.box-content__item.box-content__item--statistics
		include statistics.pug
	.box-content__item.box-content__item--mentions
		include mentions.pug
.box-content
	.box-content__item.box-content__item--buy-advertising
		include buy-advertising.pug

.box-content
	.box-content__item
		include channel-item.pug
	.box-content__item
		include channel-item.pug
