.channel-indicator
	.box-content
		.box-content__item.box-content__item--indicator
			.box-content__head.box-content__head--inner 
				h2 Показатели
				.tabs.tracking__add-choice
					ul.tabs.tabs__caption
						li.tab-link.tab-link--indicator.current.active(data-tab="tab-1") Таблица
						li.tab-link.tab-link--indicator(data-tab="tab-2") График
			.box-content__body
				#tab-1.tab_content.current.channel-indicator__tabs-wrapp
					.tabs.tracking__add-choice
						ul.content-title.tabs__caption
							li.active Подписчиков по дням
							li Просмотров на пост по дням
							li Публикаций в день
							li ER по дням, %
							li Рекламных записей в день
							li Рекл
						.tabs__content.active
							.statistic.statistic--indicator
								.statistic__item.statistic__item_w25
									span.statistics-title время
									.statistic__item-wrapp
										span.statistic__date 06.08.2019
								.statistic__item.statistic__item_w25
									span.statistics-title подписчиков
									.statistic__item-wrapp
										span.statistic__lid 609 953
								.statistic__item.tatistic__item_w50
									span.statistics-title прирост
									.statistic__item-wrapp
										span.green-text +5
						.tabs__content
							.statistic.statistic--indicator
								.statistic__item.statistic__item_w25
									span.statistics-title время
									.statistic__item-wrapp
										span.statistic__date 06.08.2019
								.statistic__item.statistic__item_w25
									span.statistics-title подписчиков
									.statistic__item-wrapp
										span.statistic__lid 609 953
								.statistic__item.tatistic__item_w50
									span.statistics-title прирост
									.statistic__item-wrapp
										span.green-text +5
						.tabs__content
							.statistic.statistic--indicator
								.statistic__item.statistic__item_w25
									span.statistics-title время
									.statistic__item-wrapp
										span.statistic__date 06.08.2019
								.statistic__item.statistic__item_w25
									span.statistics-title подписчиков
									.statistic__item-wrapp
										span.statistic__lid 609 953
								.statistic__item.tatistic__item_w50
									span.statistics-title прирост
									.statistic__item-wrapp
										span.green-text +5
						.tabs__content
							.statistic.statistic--indicator
								.statistic__item.statistic__item_w25
									span.statistics-title время
									.statistic__item-wrapp
										span.statistic__date 06.08.2019
								.statistic__item.statistic__item_w25
									span.statistics-title подписчиков
									.statistic__item-wrapp
										span.statistic__lid 609 953
								.statistic__item.tatistic__item_w50
									span.statistics-title прирост
									.statistic__item-wrapp
										span.green-text +5
						.tabs__content
							.statistic.statistic--indicator
								.statistic__item.statistic__item_w25
									span.statistics-title время
									.statistic__item-wrapp
										span.statistic__date 06.08.2019
								.statistic__item.statistic__item_w25
									span.statistics-title подписчиков
									.statistic__item-wrapp
										span.statistic__lid 609 953
								.statistic__item.tatistic__item_w50
									span.statistics-title прирост
									.statistic__item-wrapp
										span.green-text +5
						.tabs__content
							.statistic.statistic--indicator
								.statistic__item.statistic__item_w25
									span.statistics-title время
									.statistic__item-wrapp
										span.statistic__date 06.08.2019
								.statistic__item.statistic__item_w25
									span.statistics-title подписчиков
									.statistic__item-wrapp
										span.statistic__lid 609 953
								.statistic__item.tatistic__item_w50
									span.statistics-title прирост
									.statistic__item-wrapp
										span.green-text +5
				#tab-2.tab_content.channel-indicator__tabs-wrapp
					.tabs.tracking__add-choice
						ul.content-title.tabs__caption
							li.active Подписчиков по дням
							li Просмотров на пост по дням
							li Публикаций в день
							li ER по дням, %
							li Рекламных записей в день
							li Рекл
						.tabs__content.active
							.publications-wrapp
								ul.publications-chart
									li.publications-chart__item
										span.publications-chart__date 1
									li.publications-chart__item
										span.publications-chart__date 2
									li.publications-chart__item
										span.publications-chart__date 3
									li.publications-chart__item
										span.publications-chart__date 4
									li.publications-chart__item
										span.publications-chart__date 5
									li.publications-chart__item
										span.publications-chart__date 6
									li.publications-chart__item
										span.publications-chart__date 7
									li.publications-chart__item
										span.publications-chart__date 8
									li.publications-chart__item
										span.publications-chart__date 9
									li.publications-chart__item
										span.publications-chart__date 10
									li.publications-chart__item
										span.publications-chart__date 11
									li.publications-chart__item
										span.publications-chart__date 12
									li.publications-chart__item
										span.publications-chart__date 13
									li.publications-chart__item
										span.publications-chart__date 14
									li.publications-chart__item
										span.publications-chart__date 15
									li.publications-chart__item
										span.publications-chart__date 16
									li.publications-chart__item
										span.publications-chart__date 17
									li.publications-chart__item
										span.publications-chart__date 18
									li.publications-chart__item
										span.publications-chart__date 19
									li.publications-chart__item
										span.publications-chart__date 20
									li.publications-chart__item
										span.publications-chart__date 21
									li.publications-chart__item
										span.publications-chart__date 22
									li.publications-chart__item
										span.publications-chart__date 23
									li.publications-chart__item
										span.publications-chart__date 24
									li.publications-chart__item
										span.publications-chart__date 25
									li.publications-chart__item
										span.publications-chart__date 26
									li.publications-chart__item
										span.publications-chart__date 27
									li.publications-chart__item
										span.publications-chart__date 28
									li.publications-chart__item
										span.publications-chart__date 29
									li.publications-chart__item
										span.publications-chart__date 30
									li.publications-chart__item
										span.publications-chart__date 31
						.tabs__content
							.publications-wrapp
								ul.publications-chart
									li.publications-chart__item
										span.publications-chart__date 1
									li.publications-chart__item
										span.publications-chart__date 2
									li.publications-chart__item
										span.publications-chart__date 3
									li.publications-chart__item
										span.publications-chart__date 4
									li.publications-chart__item
										span.publications-chart__date 5
									li.publications-chart__item
										span.publications-chart__date 6
									li.publications-chart__item
										span.publications-chart__date 7
									li.publications-chart__item
										span.publications-chart__date 8
									li.publications-chart__item
										span.publications-chart__date 9
									li.publications-chart__item
										span.publications-chart__date 10
									li.publications-chart__item
										span.publications-chart__date 11
									li.publications-chart__item
										span.publications-chart__date 12
									li.publications-chart__item
										span.publications-chart__date 13
									li.publications-chart__item
										span.publications-chart__date 14
									li.publications-chart__item
										span.publications-chart__date 15
									li.publications-chart__item
										span.publications-chart__date 16
									li.publications-chart__item
										span.publications-chart__date 17
									li.publications-chart__item
										span.publications-chart__date 18
									li.publications-chart__item
										span.publications-chart__date 19
									li.publications-chart__item
										span.publications-chart__date 20
									li.publications-chart__item
										span.publications-chart__date 21
									li.publications-chart__item
										span.publications-chart__date 22
									li.publications-chart__item
										span.publications-chart__date 23
									li.publications-chart__item
										span.publications-chart__date 24
									li.publications-chart__item
										span.publications-chart__date 25
									li.publications-chart__item
										span.publications-chart__date 26
									li.publications-chart__item
										span.publications-chart__date 27
									li.publications-chart__item
										span.publications-chart__date 28
									li.publications-chart__item
										span.publications-chart__date 29
									li.publications-chart__item
										span.publications-chart__date 30
									li.publications-chart__item
										span.publications-chart__date 31
						.tabs__content
							.publications-wrapp
								ul.publications-chart
									li.publications-chart__item
										span.publications-chart__date 1
									li.publications-chart__item
										span.publications-chart__date 2
									li.publications-chart__item
										span.publications-chart__date 3
									li.publications-chart__item
										span.publications-chart__date 4
									li.publications-chart__item
										span.publications-chart__date 5
									li.publications-chart__item
										span.publications-chart__date 6
									li.publications-chart__item
										span.publications-chart__date 7
									li.publications-chart__item
										span.publications-chart__date 8
									li.publications-chart__item
										span.publications-chart__date 9
									li.publications-chart__item
										span.publications-chart__date 10
									li.publications-chart__item
										span.publications-chart__date 11
									li.publications-chart__item
										span.publications-chart__date 12
									li.publications-chart__item
										span.publications-chart__date 13
									li.publications-chart__item
										span.publications-chart__date 14
									li.publications-chart__item
										span.publications-chart__date 15
									li.publications-chart__item
										span.publications-chart__date 16
									li.publications-chart__item
										span.publications-chart__date 17
									li.publications-chart__item
										span.publications-chart__date 18
									li.publications-chart__item
										span.publications-chart__date 19
									li.publications-chart__item
										span.publications-chart__date 20
									li.publications-chart__item
										span.publications-chart__date 21
									li.publications-chart__item
										span.publications-chart__date 22
									li.publications-chart__item
										span.publications-chart__date 23
									li.publications-chart__item
										span.publications-chart__date 24
									li.publications-chart__item
										span.publications-chart__date 25
									li.publications-chart__item
										span.publications-chart__date 26
									li.publications-chart__item
										span.publications-chart__date 27
									li.publications-chart__item
										span.publications-chart__date 28
									li.publications-chart__item
										span.publications-chart__date 29
									li.publications-chart__item
										span.publications-chart__date 30
									li.publications-chart__item
										span.publications-chart__date 31
						.tabs__content
							.publications-wrapp
								ul.publications-chart
									li.publications-chart__item
										span.publications-chart__date 1
									li.publications-chart__item
										span.publications-chart__date 2
									li.publications-chart__item
										span.publications-chart__date 3
									li.publications-chart__item
										span.publications-chart__date 4
									li.publications-chart__item
										span.publications-chart__date 5
									li.publications-chart__item
										span.publications-chart__date 6
									li.publications-chart__item
										span.publications-chart__date 7
									li.publications-chart__item
										span.publications-chart__date 8
									li.publications-chart__item
										span.publications-chart__date 9
									li.publications-chart__item
										span.publications-chart__date 10
									li.publications-chart__item
										span.publications-chart__date 11
									li.publications-chart__item
										span.publications-chart__date 12
									li.publications-chart__item
										span.publications-chart__date 13
									li.publications-chart__item
										span.publications-chart__date 14
									li.publications-chart__item
										span.publications-chart__date 15
									li.publications-chart__item
										span.publications-chart__date 16
									li.publications-chart__item
										span.publications-chart__date 17
									li.publications-chart__item
										span.publications-chart__date 18
									li.publications-chart__item
										span.publications-chart__date 19
									li.publications-chart__item
										span.publications-chart__date 20
									li.publications-chart__item
										span.publications-chart__date 21
									li.publications-chart__item
										span.publications-chart__date 22
									li.publications-chart__item
										span.publications-chart__date 23
									li.publications-chart__item
										span.publications-chart__date 24
									li.publications-chart__item
										span.publications-chart__date 25
									li.publications-chart__item
										span.publications-chart__date 26
									li.publications-chart__item
										span.publications-chart__date 27
									li.publications-chart__item
										span.publications-chart__date 28
									li.publications-chart__item
										span.publications-chart__date 29
									li.publications-chart__item
										span.publications-chart__date 30
									li.publications-chart__item
										span.publications-chart__date 31
						.tabs__content
							.publications-wrapp
								ul.publications-chart
									li.publications-chart__item
										span.publications-chart__date 1
									li.publications-chart__item
										span.publications-chart__date 2
									li.publications-chart__item
										span.publications-chart__date 3
									li.publications-chart__item
										span.publications-chart__date 4
									li.publications-chart__item
										span.publications-chart__date 5
									li.publications-chart__item
										span.publications-chart__date 6
									li.publications-chart__item
										span.publications-chart__date 7
									li.publications-chart__item
										span.publications-chart__date 8
									li.publications-chart__item
										span.publications-chart__date 9
									li.publications-chart__item
										span.publications-chart__date 10
									li.publications-chart__item
										span.publications-chart__date 11
									li.publications-chart__item
										span.publications-chart__date 12
									li.publications-chart__item
										span.publications-chart__date 13
									li.publications-chart__item
										span.publications-chart__date 14
									li.publications-chart__item
										span.publications-chart__date 15
									li.publications-chart__item
										span.publications-chart__date 16
									li.publications-chart__item
										span.publications-chart__date 17
									li.publications-chart__item
										span.publications-chart__date 18
									li.publications-chart__item
										span.publications-chart__date 19
									li.publications-chart__item
										span.publications-chart__date 20
									li.publications-chart__item
										span.publications-chart__date 21
									li.publications-chart__item
										span.publications-chart__date 22
									li.publications-chart__item
										span.publications-chart__date 23
									li.publications-chart__item
										span.publications-chart__date 24
									li.publications-chart__item
										span.publications-chart__date 25
									li.publications-chart__item
										span.publications-chart__date 26
									li.publications-chart__item
										span.publications-chart__date 27
									li.publications-chart__item
										span.publications-chart__date 28
									li.publications-chart__item
										span.publications-chart__date 29
									li.publications-chart__item
										span.publications-chart__date 30
									li.publications-chart__item
										span.publications-chart__date 31
						.tabs__content
							.publications-wrapp
								ul.publications-chart
									li.publications-chart__item
										span.publications-chart__date 1
									li.publications-chart__item
										span.publications-chart__date 2
									li.publications-chart__item
										span.publications-chart__date 3
									li.publications-chart__item
										span.publications-chart__date 4
									li.publications-chart__item
										span.publications-chart__date 5
									li.publications-chart__item
										span.publications-chart__date 6
									li.publications-chart__item
										span.publications-chart__date 7
									li.publications-chart__item
										span.publications-chart__date 8
									li.publications-chart__item
										span.publications-chart__date 9
									li.publications-chart__item
										span.publications-chart__date 10
									li.publications-chart__item
										span.publications-chart__date 11
									li.publications-chart__item
										span.publications-chart__date 12
									li.publications-chart__item
										span.publications-chart__date 13
									li.publications-chart__item
										span.publications-chart__date 14
									li.publications-chart__item
										span.publications-chart__date 15
									li.publications-chart__item
										span.publications-chart__date 16
									li.publications-chart__item
										span.publications-chart__date 17
									li.publications-chart__item
										span.publications-chart__date 18
									li.publications-chart__item
										span.publications-chart__date 19
									li.publications-chart__item
										span.publications-chart__date 20
									li.publications-chart__item
										span.publications-chart__date 21
									li.publications-chart__item
										span.publications-chart__date 22
									li.publications-chart__item
										span.publications-chart__date 23
									li.publications-chart__item
										span.publications-chart__date 24
									li.publications-chart__item
										span.publications-chart__date 25
									li.publications-chart__item
										span.publications-chart__date 26
									li.publications-chart__item
										span.publications-chart__date 27
									li.publications-chart__item
										span.publications-chart__date 28
									li.publications-chart__item
										span.publications-chart__date 29
									li.publications-chart__item
										span.publications-chart__date 30
									li.publications-chart__item
										span.publications-chart__date 31