.mentions
	h2.box-content__head Кто упоминал
	.box-content__body
		.mention
			.mention__item.mention__item_w44
				span.mention-title Канал
				.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
						p
							span.svg-wrap
								svg.svg-ico.svg-ico-user-canal-logo
									use(xlink:href="#user-canal-logo")
							span.canal-num 131414
			.mention__item.mention__item_w28
				span.mention-title Упоминаний
				.mention__item-desc
					span.mention__item-title Упомин
					span.mention__item-num 66
				.mention__item-desc
					span.mention__item-title Репосты
					span.mention__item-num 5673
			.mention__item.mention__item_w250.text-right
				span.mention-title Посты
				p.mention-date 06.08.2019
				p.mention-date 06.08.2019
				p.mention-date 06.08.2019
		.mention
			.mention__item.mention__item_w44
				.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
						p
							span.svg-wrap
								svg.svg-ico.svg-ico-user-canal-logo
									use(xlink:href="#user-canal-logo")
							span.canal-num 131414
			.mention__item.mention__item_w28
				.mention__item-desc
					span.mention__item-title Упомин
					span.mention__item-num 66
				.mention__item-desc
					span.mention__item-title Репосты
					span.mention__item-num 5673
			.mention__item.mention__item_w250.text-right
				p.mention-date 06.08.2019
				p.mention-date 06.08.2019
				p.mention-date 06.08.2019
		.mention
			.mention__item.mention__item_w44
				.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
						p
							span.svg-wrap
								svg.svg-ico.svg-ico-user-canal-logo
									use(xlink:href="#user-canal-logo")
							span.canal-num 131414
			.mention__item.mention__item_w28
				.mention__item-desc
					span.mention__item-title Упомин
					span.mention__item-num 66
				.mention__item-desc
					span.mention__item-title Репосты
					span.mention__item-num 5673
			.mention__item.mention__item_w250.text-right
				p.mention-date 06.08.2019
				p.mention-date 06.08.2019
				p.mention-date 06.08.2019
		.mention
			.mention__item.mention__item_w44
				.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
						p
							span.svg-wrap
								svg.svg-ico.svg-ico-user-canal-logo
									use(xlink:href="#user-canal-logo")
							span.canal-num 131414
			.mention__item.mention__item_w28
				.mention__item-desc
					span.mention__item-title Упомин
					span.mention__item-num 66
				.mention__item-desc
					span.mention__item-title Репосты
					span.mention__item-num 5673
			.mention__item.mention__item_w250.text-right
				p.mention-date 06.08.2019
				p.mention-date 06.08.2019
				p.mention-date 06.08.2019
		.mention
			.mention__item.mention__item_w44
				.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
						p
							span.svg-wrap
								svg.svg-ico.svg-ico-user-canal-logo
									use(xlink:href="#user-canal-logo")
							span.canal-num 131414
			.mention__item.mention__item_w28
				.mention__item-desc
					span.mention__item-title Упомин
					span.mention__item-num 66
				.mention__item-desc
					span.mention__item-title Репосты
					span.mention__item-num 5673
			.mention__item.mention__item_w250.text-right
				p.mention-date 06.08.2019
				p.mention-date 06.08.2019
				p.mention-date 06.08.2019
		.mention
			.mention__item.mention__item_w44
				.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
						p
							span.svg-wrap
								svg.svg-ico.svg-ico-user-canal-logo
									use(xlink:href="#user-canal-logo")
							span.canal-num 131414
			.mention__item.mention__item_w28
				.mention__item-desc
					span.mention__item-title Упомин
					span.mention__item-num 66
				.mention__item-desc
					span.mention__item-title Репосты
					span.mention__item-num 5673
			.mention__item.mention__item_w250.text-right
				p.mention-date 06.08.2019
				p.mention-date 06.08.2019
				p.mention-date 06.08.2019
		.mention
			.mention__item.mention__item_w44
				.canal__item_wrapp
					.canal__item.canal__item_logo
						span
							svg.svg-ico
								use(xlink:href="#photo-logo")
					.canal__item.canal__item_name
						p Название канала
						p
							span.svg-wrap
								svg.svg-ico.svg-ico-user-canal-logo
									use(xlink:href="#user-canal-logo")
							span.canal-num 131414
			.mention__item.mention__item_w28
				.mention__item-desc
					span.mention__item-title Упомин
					span.mention__item-num 66
				.mention__item-desc
					span.mention__item-title Репосты
					span.mention__item-num 5673
			.mention__item.mention__item_w250.text-right
				p.mention-date 06.08.2019
				p.mention-date 06.08.2019
				p.mention-date 06.08.2019
