.statistics
	h2.box-content__head Рекламная статистика
	.box-content__body
		.statistic
			.statistic__item.statistic__item_w25
				span.statistics-title время
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				span.statistics-title Подписчиков
				.statistic__item-wrapp
					span.statistic__lid
			.statistic__item.statistic__item_w50
				span.statistics-title Прирост
				p <span class="purple-text">Репост</span> в <span class="purple-text">Название канала</span>
					span
						svg.svg-ico.svg-ico-small_line-chart
							use(xlink:href="#small_line-chart")
					span.statistic-content 118 101
						svg.svg-ico.svg-ico-user-canal-logo
							use(xlink:href="#user-canal-logo")
					span.statistic-content 118 101
						svg.svg-ico.svg-ico-user-canal-logo
							use(xlink:href="#eye")
		.statistic
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.purple-text.statistic__lid 609 953
			.statistic__item.statistic__item_w50
				span.green-text +3
		.statistic
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.purple-text.statistic__lid 609 953
			.statistic__item.statistic__item_w50
				span.red-text -3 
				span вышел 
				span.purple-text пост 
		.statistic
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__lid
			.statistic__item.statistic__item_w50
				p <span class="purple-text">Репост</span> в <span class="purple-text">Название канала</span>
					span
						svg.svg-ico.svg-ico-small_line-chart
							use(xlink:href="#small_line-chart")
					span.statistic-content 118 101
						svg.svg-ico.svg-ico-user-canal-logo
							use(xlink:href="#user-canal-logo")
					span.statistic-content 118 101
						svg.svg-ico.svg-ico-user-canal-logo
							use(xlink:href="#eye")
		.statistic
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.purple-text.statistic__lid 609 953
			.statistic__item.statistic__item_w50
				span.green-text +3
		.statistic
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.purple-text.statistic__lid 609 953
			.statistic__item.statistic__item_w50
				span.red-text -3 
				span вышел 
				span.purple-text пост
		.statistic
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__lid
			.statistic__item.statistic__item_w50
				p <span class="purple-text">Репост</span> в <span class="purple-text">Название канала</span>
					span
						svg.svg-ico.svg-ico-small_line-chart
							use(xlink:href="#small_line-chart")
					span.statistic-content 118 101
						svg.svg-ico.svg-ico-user-canal-logo
							use(xlink:href="#user-canal-logo")
					span.statistic-content 118 101
						svg.svg-ico.svg-ico-user-canal-logo
							use(xlink:href="#eye")
		.statistic
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.purple-text.statistic__lid 609 953
			.statistic__item.statistic__item_w50
				span.green-text +3
		.statistic
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.purple-text.statistic__lid 609 953
			.statistic__item.statistic__item_w50
				span.red-text -3 
				span вышел 
				span.purple-text пост
		.statistic
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__lid
			.statistic__item.statistic__item_w50
				p <span class="purple-text">Репост</span> в <span class="purple-text">Название канала</span>
					span
						svg.svg-ico.svg-ico-small_line-chart
							use(xlink:href="#small_line-chart")
					span.statistic-content 118 101
						svg.svg-ico.svg-ico-user-canal-logo
							use(xlink:href="#user-canal-logo")
					span.statistic-content 118 101
						svg.svg-ico.svg-ico-user-canal-logo
							use(xlink:href="#eye")
		.statistic
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.purple-text.statistic__lid 609 953
			.statistic__item.statistic__item_w50
				span.green-text +3
		.statistic
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.purple-text.statistic__lid 609 953
			.statistic__item.statistic__item_w50
				span.red-text -3 
				span вышел 
				span.purple-text пост
		.statistic
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__lid
			.statistic__item.statistic__item_w50
				p <span class="purple-text">Репост</span> в <span class="purple-text">Название канала</span>
					span
						svg.svg-ico.svg-ico-small_line-chart
							use(xlink:href="#small_line-chart")
					span.statistic-content 118 101
						svg.svg-ico.svg-ico-user-canal-logo
							use(xlink:href="#user-canal-logo")
					span.statistic-content 118 101
						svg.svg-ico.svg-ico-user-canal-logo
							use(xlink:href="#eye")
		.statistic
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.purple-text.statistic__lid 609 953
			.statistic__item.statistic__item_w50
				span.green-text +3
		.statistic
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.statistic__date 06.08.2019 13:55
			.statistic__item.statistic__item_w25
				.statistic__item-wrapp
					span.purple-text.statistic__lid 609 953
			.statistic__item.statistic__item_w50
				span.red-text -3 
				span вышел 
				span.purple-text пост
