.channels-my
    .search-result
        h2.subtitle Найдено 534509 каналов
        .flex.search-result__head
            .sort__item
                .sort__title Канал

            .sort__item
                .sort__title Подписчики
            .sort__item
                .sort__title Прирост
            .sort__item
                .sort__title Просмотры на пост
            .sort__item
                .sort__title ER
        .search-result__body 
            .search-item.flex
                .search-item__group
                    span.channel-wrapp-pic
                        svg.svg-ico.svg-ico--favorite
                            use(xlink:href='#photo-logo')
                .search-item__group
                    .title-item Название канала
                .search-item__group 
                    .search-item__amount 432 545 
                .search-item__group
                    .search-item__amount.search-item__value--green +43 545
                .search-item__group
                    .flex 
                        .search-item__value 32 545
                        div , за 24ч: 
                        .search-item__value 32 545
                .search-item__group
                    .flex 
                        .search-item__value 32%
                        div , за 24ч: 
                        .search-item__value 32%                        
                .search-item__group
                    svg.svg-ico.svg-ico--amount
                        use(xlink:href="#small_line-chart")
                .search-item__group.price-info
                    svg.svg-ico.svg-ico--price
                        use(xlink:href="#price")
                    .price-info__full
                        .price-info__title
                            span.subtitle-item Цена за рекламу
                            span.close-ico
                                svg.svg-ico.svg-ico_close
                                    use(xlink:href="#close")
                        .price-info__group
                            input(type="radio" name="price-info" id="price-info1")
                            label(for="price-info1") Из диапазона
                            .price-info__range
                                .price-slider
                                    //- #custom-handle.ui-slider-handle
                            .price-info__value
                                .price-info__label 500
                                input(type="text" class="amount" readonly value="250000")
                                .price-info__label 500k
                        .price-info__group
                            input(type="radio" name="price-info" id="price-info2")
                            label(for="price-info2") Своя цена
                            .price-info__myprice
                                input(type="text" placeholder="10 000")
                .search-item__group
                    span.close-ico
                        svg.svg-ico.svg-ico_close
                            use(xlink:href="#close")
            .search-item.flex
                .search-item__group
                    span.channel-wrapp-pic
                        svg.svg-ico.svg-ico--favorite
                            use(xlink:href='#photo-logo')
                .search-item__group
                    .title-item Название канала
                .search-item__group 
                    .search-item__amount 432 545 
                .search-item__group
                    .search-item__amount.search-item__value--green +43 545
                .search-item__group
                    .flex 
                        .search-item__value 32 545
                        div , за 24ч: 
                        .search-item__value 32 545
                .search-item__group
                    .flex 
                        .search-item__value 32%
                        div , за 24ч: 
                        .search-item__value 32%                        
                .search-item__group
                    svg.svg-ico.svg-ico--amount
                        use(xlink:href="#small_line-chart")
                .search-item__group.price-info
                    svg.svg-ico.svg-ico--price
                        use(xlink:href="#price")
                    .price-info__full
                        .price-info__title
                            span.subtitle-item Цена за рекламу
                            span.close-ico
                                svg.svg-ico.svg-ico_close
                                    use(xlink:href="#close")
                        .price-info__group
                            input(type="radio" name="price-info" id="price-info3")
                            label(for="price-info3") Из диапазона
                            .price-info__range
                                .price-slider
                                    //- #custom-handle.ui-slider-handle
                            .price-info__value
                                .price-info__label 500
                                input(type="text" class="amount" readonly value="250000")
                                .price-info__label 500k
                        .price-info__group
                            input(type="radio" name="price-info" id="price-info4")
                            label(for="price-info4") Своя цена
                            .price-info__myprice
                                input(type="text" placeholder="10 000")
                .search-item__group
                    span.close-ico
                        svg.svg-ico.svg-ico_close
                            use(xlink:href="#close")