//searrch
.channels-search {
    .flex {
        justify-content: space-between;
        @media screen and (max-width: 1200px) {
            flex-wrap: wrap;
        }
        &--triple .input-item {
            &:nth-child(2n) {
                @media screen and (max-width: 1200px) {
                    margin-right: 0;
                }                 
            }
            @media screen and (max-width: 843px) {
                margin-right: 0;
            }            
        }
    }
}
.input-item {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 40px;
    margin-bottom: 30px;
    @media screen and (max-width: 940px) {
        min-width: 100%;
    }
    &:last-child {
        margin-right: 0;
    }
    // &:nth-child(3n) {
    //     @media screen and (max-width: 1200px) {
    //         margin-right: 0;
    //     } 
    // }
    @media screen and (max-width: 940px) {
        margin-right: 0;
    }
    &__title {
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        margin-bottom: 15px;
    }
    &__body {
        display: flex;
        align-items: center;
        border: 1px solid #CCCCCC;
        border-radius: 34px;
        overflow: hidden;
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        min-width: 40px;
        background: rgba(0, 0, 0, 0.05);
        border: 2px solid #fff;
        border-radius: 30px;
        color: #809EFF;
        font-size: 16px;
        line-height: 19px;
        svg {
            fill: #809EFF;
        }
    }
    &-info {
        position: relative;
        &__text {
            font-size: 12px;
            line-height: 17px;
            position: absolute;
            top: -40px;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, 0);
            max-width: 185px;
            padding: 15px;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
            backdrop-filter: blur(15px);
            border-radius: 15px;
        }
    }
    input {
        flex-grow: 1;
        padding: 2px 21px 0;
        width: 100%;
        @media screen and (max-width: 1200px) {
            min-width: 150px;
        }
        &::placeholder {
            @media screen and (max-width: 460px) {
                font-size: 13px;
            }  
        }
        @media screen and (max-width: 460px) {
            min-width: auto;
            font-size: 13px;
            padding: 0 3%;
        }        
    }
}

.flex {
    display: flex;
}
.search-filter {
    padding-bottom: 60px;
    &__button {
        max-width: 152px;
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        &-wrap {
            margin-top: auto;
        }
    }
}
.svg-ico--amount {
    width: 26px;
    height: 26px;
}
.search {
    &-item {
        position: relative;
        padding: 30px 48px 30px 30px;
        background: #FFFFFF;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.02);
        border-radius: 34px;
        margin-bottom: 40px;
        @media screen and (max-width: 414px) {
            padding: 10px;
        }
        &__group {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            .svg-ico--heart {
                display: block;
                margin: 14px auto 0;
            }
            @media screen and (max-width: 1040px) {
                margin-bottom: 20px;
            }
        }
        &__amount {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            color: #809EFF;
            margin-bottom: 10px;
        }
        &__icons {
            margin: 13px 0 25px;
            .svg-ico {
                margin-right: 20px;
            }
        }
        &__labels {
            margin-top: 18px;
        }
        &__label {
            min-width: 70px;
            margin-right: 10px;
            margin-bottom: 15px;
            color: #B3B3B3;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
        }
        &__value {
            color: #809EFF;
            font-size: 16px;
            line-height: 19px;
            font-weight: bold;
            &--green {
                color:  #55FF70;
            }
        }
    }
}
.subtitle {
    font-size: 36px;
    line-height: 44px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 40px;
}
.title-item {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
}
.subtitle-item {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}
.label {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    padding: 6px 10px;
    border-radius: 13px;
    color:  #809EFF;
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
    font-weight: 500;
    &:hover {
        color: #fff;
        background: #809EFF;
    }
    &-colored {
        color: #fff;
        background: #809EFF;
        &:hover {
            box-shadow: 0px 5px 20px rgba(126, 157, 255, 0.6);
        }
        
    }
}
//sort
.sort {
    &__item {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
        .flex {
            justify-content: flex-start;
            .sort__arrows {
                margin-right: 20px;
            }
        }
    }
    &__title {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
        font-weight: 500;
        margin-bottom: 25px;
        .svg-ico {
            margin-right: 9px;
        }
    }
    &__arrows {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70px;
        height: 40px;
        padding: 0 13px;
        background-color: #fff;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.02);
        border-radius: 20px;
        .svg-ico {
            cursor: pointer;
        }
        .svg-ico:nth-child(2) {
            transform: rotate(180deg);
        }
        svg {
            fill: #809EFF;
        }
    }

}
.search-result{
    &__head {
        padding-bottom: 40px;
    }
    &__item {
        display: flex;
        background: #FFFFFF;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.02);
        border-radius: 34px;
    }
    .flex {
        justify-content: space-between;
    }
    &__body {
        padding-bottom: 40px;
    }
}
//select
.select2 {
    flex-grow: 1;
    &-container--default .select2-selection--multiple,
    &-container--default.select2-container--focus .select2-selection--multiple,
    &-container--default .select2-selection--single {
        border-color: transparent;
    }
    &-container--default .select2-selection--multiple,
    &-container--default .select2-selection--single {
        margin-top: 4px;
    }
    &-selection {
        display: flex;
        align-items: center;
        outline: none;
    }
    &-container .select2-search--inline .select2-search__field {
        margin-top: 7px;
    }
    &-dropdown {
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
        backdrop-filter: blur(15px);
        border-radius: 0px 0px 23px 23px;
        border-color: transparent;
        overflow: hidden;
    }
    &-container--default .select2-selection--multiple .select2-selection__rendered,
    &-container .select2-selection--single .select2-selection__rendered {
        padding: 0 43px 0 21px;
        @media screen and (max-width: 460px) {
            padding-left: 3%;
        } 
    }
    &-search__field {
        width: 100%!important;
    }
    &-selection--multiple .select2-selection__rendered {
        &:after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            top: 10px;
            right: 30px;
            border-bottom: 1px solid #B3B3B3;
            border-right: 1px solid #B3B3B3;
            border-left: none;
            border-top: none;
            transform: rotate(45deg);
        }
    }
    &-container--open .select2-selection--multiple .select2-selection__rendered {
        &:after {
            top: 17px;
            transform: rotate(-135deg);
        }
    }
    &-container .select2-search--inline {
        width: 100%;
    }
    &-container--default .select2-selection--single .select2-selection__arrow {
        right: 25px;
        b {
            width: 10px;
            height: 10px;
            border-bottom: 1px solid #B3B3B3;
            border-right: 1px solid #B3B3B3;
            border-left: none;
            border-top: none;
            transform: rotate(45deg);
        }
    }
    &-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-bottom: 1px solid #B3B3B3;
        border-right: 1px solid #B3B3B3;
        border-left: none;
        border-top: none;
        transform: rotate(-135deg);
        top: 74%;
    }
}
//pagination 
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 80px;
    &__numbers {
        display: flex;
        li {
            margin-right: 20px;
            @media screen and (max-width: 510px) {
                margin-right: 10px;
            }
            &:last-child {
                margin-right: 0;
            }
            &.active {
                a {
                    background: #809EFF;
                    color: #fff;
                }
            }
            &:nth-child(n+3) {
                @media screen and (max-width: 1040px) {
                    display: none;
                }                
            }
            &:nth-child(n+2) {
                @media screen and (max-width: 510px) {
                    display: none;
                }                
            }
            &:nth-last-child(2),
            &:last-child {
                @media screen and (max-width: 1040px) {
                    display: block;
                }                
            }
        }
        
    }
    a {
        display: block;
        min-width: 50px;
        height: 50px;
        border-radius: 25px;
        padding: 17px;
        text-align: center;
        background: #fff;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.02);
        font-weight: 300;
        color: #333333;
        &:hover {
            box-shadow: 0px 5px 20px rgba(126, 157, 255, 0.6);
        }
        @media screen and (max-width: 510px) {
            min-width: 40px;
            height: 40px;
            border-radius: 20px;
            padding: 12px;
        }
    }
    &__arrow {
        svg {
            fill: #B3B3B3;
        }
        &--prev {
            margin-right: 40px;
            @media screen and (max-width: 510px) {
                margin-right: 20px;
            }
            svg {
                transform: rotate(90deg);
            }
        }
        &--next {
            margin-left: 40px;
            @media screen and (max-width: 510px) {
                margin-left: 20px;
            }
            svg {
                transform: rotate(-90deg);
            }
        }
    }
}
.button {
    min-width: 152px;
    padding: 12px 30px;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #809EFF;
    border-radius: 23px;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 5px 20px rgba(126, 157, 255, 0.6);
    }
    &-add {
        position: absolute;
        top: 25px;
        right: 40px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 39px;
        color: #fff;
        background-color: #809EFF;
        font-weight: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
            box-shadow: 0px 5px 20px rgba(126, 157, 255, 0.6);
        }
    }
}
input.button {
    min-width: 152px;
    padding: 12px 30px;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #809EFF;
    border-radius: 23px;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 5px 20px rgba(126, 157, 255, 0.6);
    }
}
input::placeholder, textarea::placeholder{
    font-weight: 500;
    color: #B3B3B3;
}