.navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	// height: 100%;
	height: 1080px;
	padding-top: 50px;
	background: $white;
	box-shadow: 4px 0px 26px rgba(0, 0, 0, 0.03);
}
.navbar__logo {
	display: block;
	margin-bottom: 70px;
	font-family: 'Avenir Next Cyr';
	font-size: 26px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
	color: #7E9DFF;
}
.navbar-menu__item {
	margin: 20px 0;
}
.navbar-menu__item.active a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 100%;
	background: #809EFF;
	border-radius: 1.5px;
}
.navbar-menu__link {
	position: relative;
	display: block;
	padding-left: 57px;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	letter-spacing: 0.05em;
	color: #B3B3B3;
	span {
		margin-left: 30px;
		transition: all .3s ease;
	}
	&:hover span {
		color: #333333;
	}
	&:hover .svg-ico {
		fill: #809EFF;
	}
}
.svg-ico {
	width: 18px;
	height: 16px;
	fill: #B3B3B3;
	transition: all .3s ease;
}
.navbar-menu__list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0 transparent;
	background-color: #c4c4c4;
}

.navbar-menu__list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.navbar-menu__list::-webkit-scrollbar
{
	width: 5px;
	height: 7px;
	background-color: #F5F5F5;
}

.navbar-menu__list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(right, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%);
}
@media screen and (max-width: 1860px) {
	.navbar {
		width: 100%;
		height: auto;
		top: 120px;
		right: 0;
		padding: 30px 0;
	}
	.navbar__logo {
		margin-bottom: 20px;
	}
	.navbar-menu__list {
		display: flex;
		justify-content: space-between;
	}
	.navbar-menu__item {
		margin: 0 20px;

	}
	.navbar-menu__item.active a:before {
    	top: 100%;
    	width: 100%;
    	height: 3px;
	}
	.navbar-menu__link {
		font-size: 0;
		padding-left: 0;
		.svg-ico {
			width: 100%;
			height: 1.5rem;
		}
	}
}

@media screen and (max-width: 1170px) {
	.navbar-menu__list {
		overflow-x: scroll;
		overflow-y: hidden;
	}
}
