.audience
    .box-content
        .box-content__item 
            .audience__search
                input(type="text" placeholder="Введите ссылку/username")
                .audience__search-item Обычный
                span.audience__search-ico
                    svg.svg-ico
                        use(xlink:href="#change")
                .audience__search-item.active Анализ            
        .box-content__item 
            .audience__search
                input(type="text" placeholder="Введите ссылку/username")
                .audience__search-item Из хеша
                span.audience__search-ico
                    svg.svg-ico
                        use(xlink:href="#change")
                .audience__search-item.active Пересечение  
    .box-content
        .box-content__item.box-content__item--result
            div
                h2.box-content__head Результат
                .box-content__body
                    .audience__result
                        .audience__result-item
                            span.channel-wrapp-pic
                                svg.svg-ico.svg-ico--favorite
                                    use(xlink:href='#photo-logo')
                            p Название канала
                        .audience__result-item
                            span.channel-wrapp-pic
                                svg.svg-ico.svg-ico--favorite
                                    use(xlink:href='#photo-logo')
                            p Название канала
                    .audience__body
                        table.audience__table
                            colgroup
                                col
                                col
                                col
                                col
                            tr
                                th
                                th
                                th
                                th Пересечение
                            tr
                                td Подписчики
                                td 25554
                                td 25554
                                td 25554
                            tr
                                td Смогли получить
                                td 25554
                                td 25554
                                td 25554
                            tr
                                td Ботов в админке
                                td 25554
                                td 25554
                                td 25554
                            tr
                                td Онлайн на момент
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                            tr
                                td Онлайн недавно
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                            tr
                                td Онлайн менее 3х дней назад
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                                td 
                                    span 22 
                                    span.audience__percent (5,6%))
                            tr
                                td Онлайн неделю назад
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                            tr
                                td Онлайн от недели до месяца
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                            tr
                                td Онлайн давно
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
                                td 
                                    span 22 
                                    span.audience__percent (5,6%)
        div.box-content__item.box-content__item--check 
            div
                h2.box-content__head Мои проверки
                .box-content__body
                    .audience__history
                        span.channel-wrapp-pic
                            svg.svg-ico.svg-ico--favorite
                                use(xlink:href='#photo-logo')
                        span.channel-wrapp-pic.channel-wrapp-pic--after       
                            svg.svg-ico.svg-ico--favorite
                                use(xlink:href='#photo-logo')
                        .audience__history-name
                            p Название канала
                            p Название канала
                        a(href="#").audience__history-more
                            svg.svg-ico
                                use(xlink:href='#arrow')
                    .audience__history
                        span.channel-wrapp-pic
                            svg.svg-ico.svg-ico--favorite
                                use(xlink:href='#photo-logo')
                        span.channel-wrapp-pic.channel-wrapp-pic--after       
                            svg.svg-ico.svg-ico--favorite
                                use(xlink:href='#photo-logo')
                        .audience__history-name
                            p Название канала
                            p Название канала  
                        a(href="#").audience__history-more
                            svg.svg-ico
                                use(xlink:href='#arrow')
            div 
                h2.box-content__head Доступны для пересечения
                .box-content__body 
                    .audience__history.audience__history-cross
                        span.channel-wrapp-pic
                            svg.svg-ico.svg-ico--favorite
                                use(xlink:href='#photo-logo')
                        .audience__history-name
                            p Название канала
                            p.audience__history-members 
                                span 
                                    svg.svg-ico
                                        use(xlink:href='#user-canal-logo')
                                span 131414
                    .audience__history.audience__history-cross
                        span.channel-wrapp-pic
                            svg.svg-ico.svg-ico--favorite
                                use(xlink:href='#photo-logo')
                        .audience__history-name
                            p Название канала
                            p.audience__history-members 
                                span 
                                    svg.svg-ico
                                        use(xlink:href='#user-canal-logo')
                                span 131414
                    .audience__history.audience__history-cross
                        span.channel-wrapp-pic
                            svg.svg-ico.svg-ico--favorite
                                use(xlink:href='#photo-logo')
                        .audience__history-name
                            p Название канала
                            p.audience__history-members 
                                span 
                                    svg.svg-ico
                                        use(xlink:href='#user-canal-logo')
                                span 131414
                    .audience__history.audience__history-cross
                        span.channel-wrapp-pic
                            svg.svg-ico.svg-ico--favorite
                                use(xlink:href='#photo-logo')
                        .audience__history-name
                            p Название канала
                            p.audience__history-members 
                                span 
                                    svg.svg-ico
                                        use(xlink:href='#user-canal-logo')
                                span 131414
    .pagination
        a(href="#").pagination__arrow.pagination__arrow--prev
            svg.svg-ico
                use(xlink:href="#arrow")
        ul.pagination__numbers
            li.active
                a(href="#") 1
            li
                a(href="#") 2
            li
                a(href="#") 3
            li
                a(href="#") 4
            li
                a(href="#") 5
            li
                a(href="#") 6
            li
                a(href="#") 7
            li
                a(href="#") 8
            li
                a(href="#") 9
            li
                a(href="#") ...
            li
                a(href="#") 9999
        a(href="#").pagination__arrow.pagination__arrow--next
            svg.svg-ico
                use(xlink:href="#arrow")
