.header {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 300px);
	min-height: 120px;
	background: $white;
	box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.03);
	margin-bottom: 80px;
}
.head-wrap {
	position: relative;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.head-wrap__search {
	position: relative;
	min-width: 460px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 34px;
	cursor: pointer;
	input {
		width: calc(100% - 30px);
		min-height: 60px;
		padding: 18px 29px;
		border: none;
		background: transparent;
	}
	.search-ico {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 4px;
		right: 5px;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		background: #809EFF;
	}
}
.svg-ico.svg-ico_search {
	width: 19px;
	height: 20px;
	fill: $white;
}
.head-wrap__user {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user__cab {
	margin: 0 15px;
}
.user__balans {
	span {
		margin-right: 5px;
		font-size: 20px;
		font-weight: 500;
		letter-spacing: 5%;
	}
}
.user__balans_desc {
	color: #B3B3B3;
}	
.user__balans_sum {
	color: #809EFF;
}
.wrap-user-photo {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;

    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    img {
    	display: none;
    }
}
.box-drop-down {
	width: 13px;
	height: 13px;
	cursor: pointer;
	.svg-ico_down {
		width: inherit;
		height: inherit;
		fill: #B3B3B3;
	}
	&:hover .svg-ico_down {
		fill: #809EFF;
	}
}
.box-drop-down_up {
    transform: rotate(180deg);
    .svg-ico_down {
    	fill: #809EFF;
    }
}
.head-wrap__user-cab {
	position: absolute;
	top: 115px;
	right: 0;
	width: 500px;
	// height: 503px;
	padding: 20px;
	background: $white;
	border: 1px solid rgba(255, 255, 255, 0.9);
	border-radius: 30px;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
	display: none;
	z-index: 2;
}
.head-wrap__user-cab_show {
	display: block;
}
.user-cab__head {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
	padding-bottom: 20px;
}
.user-cab__head .title {
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.05em;
}
.user-cab__body {
	// margin-bottom: 20px;
}
.user-cab__input-wrap {
	label {
		display: block;
		margin: 20px 0;
		font-size: 14px;
	}
	input {
		display: block;
		width: 100%;
		border-radius: 22px;
		border: 1px solid rgba(0, 0, 0, 0.05);
		padding: 12px 20px;
	}
input::-webkit-input-placeholder { color: #B3B3B3; font-size: 16px; font-weight: 500; font-family: 'Gilroy', sans-serif; }
input:-ms-input-placeholder { color: #B3B3B3; font-size: 16px; font-weight: 500; font-family: 'Gilroy', sans-serif; }
input::-ms-input-placeholder { color: #B3B3B3; font-size: 16px; font-weight: 500; font-family: 'Gilroy', sans-serif; }
input::placeholder { color: #B3B3B3; font-size: 16px; font-weight: 500; font-family: 'Gilroy', sans-serif; } 
}
.user-cab__footer {
	text-align: center;
	padding-top: 20px;
	a {
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.05em;
		
	}
	.user-cab__link-reg {
		font-size: 16px;
		line-height: 19px;
		color: #809EFF;
		letter-spacing: 0.05em;
	}
}
.wrap-btn {
	margin-bottom: 20px;
}
.close-ico {
	cursor: pointer;
}
.social {
	display: flex;
    justify-content: center;
	padding-top: 20px;
	border-top: 2px solid rgba(0, 0, 0, 0.05);
	li {
		margin: 0 20px;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: linear-gradient(to right, #ADD4DB, #B1C4E2);
			margin-bottom: 0;
			svg {
				fill: $white;
				width: 26px;
				height: 15px;
			}
		}
	}
}
@media screen and (max-width: 1200px) {
	.header {
		width: 100%;
		padding: 0 20px;
	}

	.head-wrap__search {
		// min-width: 50%;
		display: none;
	}
	.head-wrap__user {
		// width: 50%;
		display: none;
	}

}
