.header {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 300px);
	min-height: 120px;
	background: $white;
	box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.03);
	margin-bottom: 80px;
}
.head-wrap {
	position: relative;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.head-wrap__search {
	position: relative;
	min-width: 460px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 34px;
	cursor: pointer;
	input {
		width: calc(100% - 30px);
		min-height: 60px;
		padding: 18px 29px;
		border: none;
		background: transparent;
	}
	.search-ico {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 4px;
		right: 5px;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		background: #809EFF;
	}
}
.svg-ico.svg-ico_search {
	width: 19px;
	height: 20px;
	fill: $white;
}
.head-wrap__user {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wrap-user-photo.wrap-user-photo_question {
	display: flex;
	align-items: center;
	justify-content: center;
    background: linear-gradient(86.9deg, #ADD4DB 0%, #B1C4E2 100%);
    svg {
    	fill: $white;
    }
}
.warning-wrapp {
	padding: 10px 0;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.warning-wrapp__link {
	font-size: 16px;
	line-height: 18px;
	color: #809EFF;	
}
.svg-ico_warning {
	fill: #FF6161;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.user__cab {
	margin: 0 15px;
}
.user__balans {
	span {
		margin-right: 5px;
		font-size: 20px;
		font-weight: 500;
		letter-spacing: 5%;
	}
}
.user__balans_desc {
	color: #B3B3B3;
}	
.user__balans_sum {
	color: #809EFF;
}
.wrap-user-photo {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;

    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    img {
    	display: none;
    }
}
.box-drop-down {
	width: 13px;
	height: 13px;
	cursor: pointer;
	.svg-ico_down {
		width: inherit;
		height: inherit;
		fill: #B3B3B3;
	}
	&:hover .svg-ico_down {
		fill: #809EFF;
	}
}
.box-drop-down_up {
    transform: rotate(180deg);
    .svg-ico_down {
    	fill: #809EFF;
    }
}
.form-wrap__user-cab {
	position: absolute;
	top: 115px;
	right: 0;
	width: 500px;
	padding: 20px;
	background: $white;
	border: 1px solid rgba(255, 255, 255, 0.9);
	border-radius: 30px;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
	display: none;
	z-index: 2;
}

.user-cab__head {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
	padding-bottom: 20px;
}
.user-cab__head-title {
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.05em;
}
.pass-recovery-wrapp, .user-cab-regisrtation {
	display: none;
}
.show {
	display: block;
}
.hide {
	display: none;
}

.user-cab__input-wrap.user-cab__input-wrap_recovery {
	margin-bottom: 20px;
}
.user-cab__body_pass-recovery {
	.wrap-btn {
		text-align: center;
		margin-bottom: 0;
	}
	a {
		font-size: 16px;
		line-height: 19px;
		color: #809EFF;
		display: block;
		padding: 20px 0;
	}
}
.svg-ico-prev {
	fill: #809EFF;
	margin-right: 5px;
}
.user-cab__input-wrap {
	label {
		display: block;
		margin: 20px 0;
		font-size: 14px;
		text-transform: uppercase;
	}
	input {
		display: block;
		width: 100%;
		border-radius: 22px;
		border: 1px solid rgba(0, 0, 0, 0.05);
		padding: 12px 20px;
	}
input::-webkit-input-placeholder { color: #B3B3B3; font-size: 16px; font-weight: 500; font-family: 'Gilroy', sans-serif; }
input:-ms-input-placeholder { color: #B3B3B3; font-size: 16px; font-weight: 500; font-family: 'Gilroy', sans-serif; }
input::-ms-input-placeholder { color: #B3B3B3; font-size: 16px; font-weight: 500; font-family: 'Gilroy', sans-serif; }
input::placeholder { color: #B3B3B3; font-size: 16px; font-weight: 500; font-family: 'Gilroy', sans-serif; } 
}
.user-cab__footer {
	text-align: center;
	padding-top: 20px;
	a {
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.05em;
		
	}
	.user-cab__link-reg {
		font-size: 16px;
		line-height: 19px;
		color: #809EFF;
		letter-spacing: 0.05em;
		cursor: pointer;
	}
}
.wrap-btn {
	margin-bottom: 20px;
}
.close-ico {
	cursor: pointer;
}
.social {
	display: flex;
    justify-content: center;
	padding-top: 20px;
	border-top: 2px solid rgba(0, 0, 0, 0.05);
	li {
		margin: 0 20px;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: linear-gradient(to right, #ADD4DB, #B1C4E2);
			margin-bottom: 0;
			svg {
				fill: $white;
				width: 26px;
				height: 15px;
			}
		}
	}
}
.capcha {
	text-align: center;
	margin: 20px 0 0 0;
	input {
		display: inline-block;
		text-align: center;
		padding: 21px 20px;
		background: rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		font-size: 16px;
		line-height: 18px;
	}
}
.pass-recovery-wrapp_message {
	display: none;
}
.form-wrap__user-cab.user-autorize {
	width: 187px;
}
.user-autorize__list-wrapp {
	svg {
		width: 13px;
		height: 13px;
		fill: #B3B3B3;
		margin-right: 11px;
	}
	ul {
		li {
			&:last-child {
				a {
					position: relative;
					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						right: 0;

						width: 100%;
						height: 1px;
						background: rgba(0, 0, 0, 0.05);
						border-radius: 0.5px;
					}
				}
			}
			a {
				display: block;
				padding: 10px 0;
				font-size: 14px;
				font-family: 500px;	
				line-height: 16px;
				color: #B3B3B3;
			}
		}
	}
}
@media screen and (max-width: 1860px) { 
	.header {
		width: 100%;
		left: 0;
		right: 0;
		margin-bottom: 0;
	}
}
@media screen and (max-width: 768px) { 
	.head-wrap {
		justify-content: flex-end;
	}
	.head-wrap__search {
		display: none;
	}
	.form-wrap__user-cab {
		width: 100%;
	}
	.form-wrap__user-cab.user-autorize {
   	 	width: 100%;
	}
}
